html {
    box-sizing: border-box;
}

body {
    margin: 0%, 5%;
}

#cabecalho {
    align-items: center;

}

#recomendacoes {
    background-color: #d1b395;
    border-radius: 20px;
}

#contato {
    background-color:#d1b395;
    padding: 10px;
    text-align: end;
    font-size: larger;
}

#busca {
    height: 30px;
    width: 100%;
}

#item {
    text-align: center;
}

#nav {
    background-color: #d1b395;
}

#botao {
    background-color: #d1b395;
    border: none;
}

#destaque, #seta {
    text-align: center;
    align-items: center;
}

#titulo {
    text-align: center;
    background-color: #d1b395;
    border: black solid 1px;
}

article {
    display: inline-block;
    text-align: center;
}

#anuncio {
    align-content: center;
}

.rodape {
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

#wishlist {
    text-align: center;
}

#desejo {
    background-color: aliceblue;
    display: inline-block;
}

#login_top {
    text-align: center;
    font-size: large;
}

#form {   
    border: 0px
}

#input {
        
        width: 400px;   
        margin-left: auto;
        margin-right: auto;
        padding: 5px;   
        border: 2px solid gr;   
        box-sizing: border-box; 

}

#botao_login {
    background-color: rgb(236, 135, 33, .10);   
    width: 100%;  
     color: black;   
     padding: 15px;   
     margin: 10px 0px;   
     border: none;   
     cursor: pointer;   
}

#login_sm {
    text-align: center;
}
#cadastrado {
    text-align: center;
    margin-top: 10px;
    background: rgba(236, 135, 33, 0.1);
    border-radius: 5px;
    font-weight: 400;
    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
}
#cadastrado_nota {

    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

#cadastro_top {
    font-size: 30px;
}
#botao_cadastro {
    background-color: rgb(236, 135, 33, .10);   
    width: 100%;  
     color: black;   
     padding: 10px;   
     margin: 10px 0px;   
     border: none;   
     cursor: pointer; 
}
#cadastrar_caixa {
    width: 300px;  
    margin-left: auto;
    margin-right: auto; 
    padding: 5px;   
    border: 2px solid gr;   
    box-sizing: border-box; 
}
#cadastro {
    margin-left: 200px;
}

#cadastrar_data {
    width: 130px;  
    margin-left: auto;
    margin-right: auto; 
    padding: 5px;   
    border: 2px solid gr;   
    box-sizing: border-box; 
}
#nome_cadastro {
    font-size: 20px;
    line-height: 36px;
}
#botao_cadastre_se {
    background-color: rgb(236, 135, 33, .10);   
    width: 30%;  
     color: black;   
     padding: 10px;   
     margin: 10px 0px;   
     border: none;   
     cursor: pointer; 
     font-size: 30px;
}
#texto_cadastro {
    font-size: 10px;
}
#cliente {
    font-size: 25px;
}
